

body {
    background-color: #ECD3BC !important;
    color: #2B1C12;
    font-family: Arial, sans-serif;
  }
  
  .container {
    padding-top: 30px;
  }
  
  h1 {
    color: #97704E !important;
    text-align: center;
    margin-bottom: 20px;
  }
  
 