@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&display=swap');

.btn.btnCargar {
    background-color: #6e5137;
    color: #ecd3bc;
    width: 50%;
}

.title-color-userPage {
    color: var(--darkBrown);
    font-family: var(--cormorant);
}

.data-grid-container .MuiDataGrid-footerContainer .MuiTablePagination-selectLabel {
    display: none;
}

.data-grid-container .MuiDataGrid-footerContainer .MuiTablePagination-select:before {
    content: "Filas por página: ";
}
Button.btnAdminUs{
    color: var(--darkBrown);
}
Button.btnAdminUs:hover{
    color: var(--lightBeige);
}
.containerUserPage {
    background-color: var(--darkbrown);
    min-height: 95vh;
}
.data-grid-container{
    background-color: var(--lightBeige);
    color: var(--darkestBrown);
}
.data-grid-container.css-5wly58-MuiDataGrid-root .MuiDataGrid-withBorderColor {
    border-color: var(--brown);
}
.containerAdminPage {
    background-color: var(--darkBrown);
    color: var(--lightBeige);
}

.rowFormAdmin input,
.rowFormAdmin textarea,
.rowFormAdmin select {
    background-color: var(--lightBeige);
}

input .title {
    font-family: 'Cormorant Garamond';
}

.selectRoomAdmin {
    height: 4rem;
    margin: 20px 0px;
    color: var(--lightBeige);
    background-color: #6e5137;
}

.containerAdminPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.roomAdminCard {
    background-color: var(--darkestBrown);
    color: var(--lightBeige);
}

.roomCardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.card .btnEliminar {
    font-weight: bold;
    background-color: var(--brown);
    color: var(--darkBrown);
}

.card .btnEditar {
    background-color: var(--lightBeige);
    font-weight: bold;
}

.btnEditar a {
    color: var(--darkestBrown);
}

.card img {
    width: 100%;
}

.btnHabitaciones {
    background-color: var(--brown);
    color: var(--lightBeige);
    font-weight: 900;
}
.btnHabitaciones:hover{
    background-color: var(--darkBrown);
    color: var(--lightBeige);
    font-weight: bold;
}

@media (min-width: 998px) {
    .rowFormAdmin.row {
        width: 80vw;
    }
}

@media (max-width: 998px) {
    .rowFormAdmin.row {
        width: 100%;
    }

    .dzu-dropzone {
        margin: 0;
        padding: 0;
        width: 100% !important;
    }

    .btnCargar {
        font-size: 10px;
    }
}