
.rmdp-shadow {
    box-shadow: 0 0 5px #97704e;
}
.rmdp-wrapper {
    background-color: #97704e;
    color: var(--lightBeige);
}
.rmdp-week-day, .rmdp-header-values {
    color: var(--white);
}
.rmdp-day {
    color: #1d130c;
}
.rmdp-arrow{
    border: solid #faf8f4;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 3px;
    margin-top: 5px;
    padding: 2px;
    width: 3px;
}
.rmdp-range {
    background-color: #ecd3bc;
    color: #6e5137;
}

.rmdp-day.rmdp-today span, .rmdp-arrow-container:hover {
    background-color: #b9885d;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
    background-color: #1d130c;
}