footer {
    background-color: var(--darkestBrown);
    color: var(--lightBeige);
    padding: 0;
    margin: 0;
}
.footerWrap.row{
    width: 100%;
    padding: 0;
    margin: 0;
}
.footerContainer{
    padding: 0;
    margin: 0;
}
.linkFooter {
    color: var(--lightBeige);
    font-weight: 500;
    text-decoration: none;
}

.linkFooter:hover {
    color: var(--lightBrown);
}

.brownText {
    color: var(--brown);
    text-decoration: none;
}

.lightBrownText {
    color: var(--lightBrown);
    text-decoration: none;
}

.inputNewsletter {
    border: none;
    color: var(--lightBeige);
    background: none;
    border-bottom: 2px solid var(--lightBeige);
}

.btnNewsletter {
    border: none;
    background-color: transparent;
}

.inputNewsletter::placeholder {
    color: var(--brown);
}

.logo {
    width: calc(18rem - 20px);
}

.socialLink {
    padding: 0.7vw;
}

.socialLink:hover, .locationLink:hover {
    color: var(--lightBeige);
}
.errorText{
    color: rgba(255, 0, 0, 0.696);
}