
.footer {
    background-color: var(--darkestBrown);
    color: var(--lightBeige);
}

a.linkFooter {
    color: var(--lightBeige);
    font-weight: 500;
    text-decoration: none;
}
.brownText {
    color: var(--brown);
    text-decoration: none;
}
.lightBrownText {
    color: var(--lightBrown);
}
input {
    border: none;
    color: var(--lightBeige);
    background: none;
    border-bottom: 2px solid var(--lightBeige);
}

input::placeholder {
    color: var(--brown); 
}
.logo {
    width:calc(18rem - 20px);
  }