
.carousel .slide img {
    max-width: 50%;
    max-height: 400px; 
    margin: 0 auto;
  }


.carousel-root {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .carousel .slide img {
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
  }
  

  .carousel .thumbs-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .carousel .thumbs {
    display: flex;
    justify-content: center;
  }

.card-title {
    padding: 8px; 
    border-radius: 5px; 
  }


  
  .color-fonts {
    color: #97704E; 
    font-size: 16px; 
    font-weight: bold; 
  }

  

.icon-container {
    display: flex; 
    align-items: center; 
  }
  
  .icon-container svg {
    margin-right: 8px; 
  }
  
  
  .icon-container h3 {
    margin: 0; 
  }
  

.room-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px; 
    margin: 0 auto;
  }
  
  .room-element {
    flex-basis: 48%; 
  }
  
 
  .font-title{
    font-weight: bold;
    font-size: 24px;
  }

  .room-card .btn-details {
    background-color: #97704E;
    color: white;
  }

  .room-card .btn-details:hover {
    background-color: #ECD3BC; 
    color: black; 
  }

  .room-card .btn-booking {
    background-color: #2b1c12;
    color: white;
  }

  .room-card {
    border: none; 
    box-shadow: 0 6px 12px #bb93931a;
    border-radius: 8px; 
  }