/* App.css */



.font{
  margin-left: 1rem;
  color: #2B1C12; /* Sin comillas alrededor del color */
  font-size: 30px; /* Con la unidad 'rem' para el tamaño de fuente */
  font-weight: bold;
  margin-bottom: 1rem; /* Con la unidad 'rem' para el margen inferior */
}


.fondo{
  background-color: #2b1c12;
}